#app {
    margin-top: 15px;
    margin-left: 15px;
}

.card-margin {
    margin-top: 15px;
    margin-right: 15px;
}

.poster-image {
    width: 100px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.large-poster-image {
    width: 300px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.search-bar {
    width: 600px;
}

.left-margin {
    margin-left: 10px;
}

.top-margin {
    margin-top: 25px;
}